<%- model_class = Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @activity.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:group_max) %>:</strong></dt>
  <dd><%= @activity.group_max %></dd>
  <dt><strong><%= model_class.human_attribute_name(:group_min) %>:</strong></dt>
  <dd><%= @activity.group_min %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @activity.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @activity.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:acceptance_status) %>:</strong></dt>
  <dd><%= @activity.acceptance_status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:main_category) %>:</strong></dt>
  <dd><%= @activity.main_category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:recommended_time_h) %>:</strong></dt>
  <dd><%= @activity.recommended_time_h %></dd>
  <dt><strong><%= model_class.human_attribute_name(:recommended_time_m) %>:</strong></dt>
  <dd><%= @activity.recommended_time_m %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by_id) %>:</strong></dt>
  <dd><%= @activity.created_by_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_by_id) %>:</strong></dt>
  <dd><%= @activity.updated_by_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              activities_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_activity_path(@activity), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              activity_path(@activity),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
